<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Analisis para <%=title%></h1>
    </header>
    <main class="questionsKpa">
        <div class="introducction">
            <h2>Objetivos</h2>
            <p><%=goals%></p>
        </div>
        <form class="questionsForm" action="/processingResults" method="POST">
            <ul>
                <% Object.keys(questions).forEach(key => { %>
                <li>
                    <label><%= questions[key] %></label>
                    <select name="<%= questions[key] %>" required>
                        <option value="" disabled selected>Seleccionar Respuesta</option>
                        <option value="cumple">Cumple</option>
                        <option value="parcial">Parcial / En proceso</option>
                        <option value="no_cumple">No cumple</option>
                    </select>
                </li>
                <% }) %>
            </ul>
            <button type="submit">Guardar respuestas</button>
        </form>

        
    </main>
</body>
</html>